  <h5>Title:</h5>
  <input type="text" name="post[title]" value="<%= title %>">
  <h5>Body:</h5>
  <textarea name="post[body]" rows="4" col="50"><%= body %></textarea>
  <input type="submit" class="submit_button" value="Submit Post">
